extends layout

block content
    .container-fluid
        .row
            .container
                .jumbotron
                    h2 #{title} - Know Your Music
    .container-fluid
        ul.breadcrumb
            li.breadcrumb-item
                a(href='/') Home
            li.breadcrumb-item
                a(href='#') Music
            li.breadcrumb-item
                a(href='#') Albums
            li.breadcrumb-item
                a(href='#') Album #1
        .container-fluid
            img(src=myPic, alt='Smiley face', height='400', width='400')
            //label#source #{pic}
            //script(type='text/javascript').
            //    console.log(pic);
                // var image = #{pic};
                //
                // if (image) {
                //     var base64String = "";
                //     for (var i = 0; i < image.imageBuffer.data.length; i++) {
                //         base64String += String.fromCharCode(image.imageBuffer.data[i]);
                //     }
                //     var base64 = "data:" + image.mime + ";base64," +  window.btoa(base64String);
                //     document.getElementById('albumcover').setAttribute('src', base64);
                // } else {
                //     document.getElementById('albumcover').style.display = "none";
                // }